.color {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

#preto {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: black;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

#roxo{
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: purple;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

#azul {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: blue;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

#rosa {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: violet;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}