.color {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    display: inline-block;
}

#black {
    background-color: black;
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
}