body {
  font-family: Roboto, sans-serif;
  text-align: center;
}

#color-palette {
  display: block;
  padding: 10px;
  margin: 10px;
}

#pixel-board {
  padding: 10px;
  margin: 10px;
}

.color {
  border: black solid 1px;
  border-radius: 50%;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  margin-left: 5px;
}

#line {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pixel {
  border: black solid 1px;
  background-color: white;
  width: 40px;
  height: 40px;
  display: inline-block;
}

#clear-board {
  display: block;
  margin: auto;
  margin-top: 20px;
}
