* {
  font-family: Roboto, sans-serif;
  text-align: center;
  color: rgb(56, 53, 53);

  /* border: 1px solid purple; */
}

#color-palette {
  display: inline-table;
}

#color-black {
  background-color: black;
}

#first-color {
  background-color: cyan;
}

#second-color {
  background-color: magenta;
}

#third-color {
  background-color: yellow;
}

.color {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  color: grey;
}

.color:hover {
  cursor: pointer;
  opacity: 85%;
}

#pixel-board {
  display: block;
}

/* .row {
  display: inline-block;
} */

#line {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pixel {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: white;
  border: 1px solid black;
}

.pixel:hover {
  cursor: pointer;
  opacity: 85%;
}

#buttons {
  margin-top: 20px;
  margin-bottom: 20px;
}
